:host {
  display: block;
  min-height: 100vh;
  background: url('https://storage.googleapis.com/galancer/garudeya-com/Phishing-Attack-Vector-Concept-Illustration.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



body {
  background: #eef2ff;
  font-family: Arial, sans-serif;
}

.login-container {
  width: 380px;
  margin: 80px auto;
  padding: 30px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

h1 {
  color: #2b5cff;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 12px;
  background: #17b86e;
  border: none;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: #0a9a57;
}
